

body {
  background-color: #6C7A89;
  font-family: sans-serif;
}

.node {
  stroke: #666;
  stroke-width: 1.5px;
  cursor: pointer;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

svg {
  box-shadow: 4px 4px 10px rgba(30, 30, 30, 0.7);
  background-color: #f6f6f6 /* #fcf3d4 */;
  position: relative;
  left: 50%;
  margin-left: -400px;
}

#graph {
  padding-top: 30px;
}

#tooltip {
  position: absolute;
  background-color: #222;
  color: #f6f6f6;
  padding: 8px;
  border-radius: 5px;
  pointer-events: none;
  text-align: center;
  opacity: 0;
}

p {
  padding: 2px ;
}

text.legend {
  fill: #222;
  font-size: 14px;
}

image {
  z-index: 10;
}
